#shopify-section-footer {
  padding-bottom: 0 !important;
}

.footer-section {
  padding-bottom: 0 !important;
}

.footer {
  overflow: hidden;
}
.footer .footer-block__details-content .footer--button {
  font-family: var(--font-footer-menu-family);
  font-style: var(--font-footer-menu-style);
  font-weight: var(--font-footer-menu-weight);
  font-size: calc(var(--font-footer-menu-scale) * 1rem);
  text-transform: var(--font-footer-menu-text-transform);
  letter-spacing: calc(var(--font-footer-menu-letter-spacing) * 0.1);
  transition: all var(--duration-default) linear;
  text-decoration: none;
  color: rgb(var(--color-foreground-secondary));
  position: relative;
}
.footer .footer-block__details-content .footer--button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  transition: all var(--duration-default) linear;
  background-color: rgba(var(--color-foreground));
}
.footer .footer-block__details-content .footer--button:hover {
  color: rgb(var(--color-foreground));
}
.footer .footer-block__details-content .footer--button:hover::after {
  width: 100%;
}
.footer .accordion {
  position: relative;
}
.footer .accordion::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 200vw;
  height: 1px;
  background-color: rgb(var(--color-border));
}
.footer .accordion::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200vw;
  height: 1px;
  background-color: rgb(var(--color-border));
}
.footer .accordion:not(.footer-block--logo + .accordion):not(.store-info__wrapper + .accordion)::before {
  width: 0;
}
.footer .localization-form__select {
  padding: 1.8rem 0;
}
.footer .localization-form__select:hover {
  opacity: 0.7;
}

.footer {
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.footer-block--logo-desc {
  margin-top: 1.2rem;
  color: rgb(var(--color-foreground));
}
.footer-block--logo-desc p {
  color: inherit;
}
.footer-block--logo-desc a {
  transition: all var(--duration-default) linear;
}
.footer-block--logo-desc a:hover {
  opacity: 0.6;
}

.footer__blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1100px) {
  .footer__blocks-wrapper {
    align-items: flex-start;
    flex-direction: row;
    grid-template-columns: repeat(var(--blocks-count), 1fr);
  }
}

.footer-block--logo,
.store-info__wrapper {
  padding: 2.4rem 0;
}
@media screen and (min-width: 1100px) {
  .footer-block--logo,
.store-info__wrapper {
    grid-column: span 2;
  }
}

.footer-block--menu {
  display: none;
}

label.field__label {
  --alpha-placeholder-input: 0.4;
}

.footer__column--payment {
  padding: 2rem 0;
}

.footer__copyright {
  color: rgb(var(--color-foreground-secondary));
  padding: 2rem 0;
}
.footer__copyright__content a {
  color: inherit;
  transition: all var(--duration-default) linear;
  text-decoration: none;
}
.footer__copyright__content a:hover {
  opacity: 0.6;
}
.footer__copyright * {
  font-size: inherit;
}
@media screen and (max-width: 750px) {
  .footer__copyright {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .footer-block--menu {
    flex: none;
    display: block;
  }

  .footer-block--menu:last-child {
    margin-right: auto;
  }
}
@media screen and (min-width: 1100px) {
  .footer-block--logo {
    max-width: 48rem;
    flex: none;
    margin-bottom: 0;
  }
  .footer-block--logo:last-child {
    margin-left: auto;
  }
}
.footer-block--logo .footer-block--logo-desc {
  max-width: 39rem;
  width: 100%;
}

.footer__blocks-wrapper .accordion summary {
  padding: 2rem 0;
}
.footer__blocks-wrapper .footer-block--logo {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 1100px) {
  .footer__blocks-wrapper .footer-block {
    padding: 24px;
    border-right: 1px solid rgb(var(--color-border));
    height: 100%;
    width: 100%;
  }
  .footer__blocks-wrapper .footer-block:last-of-type {
    border: none;
  }
}

@media screen and (min-width: 1100px) {
  .footer__content-top .container {
    padding: 0;
  }
}
.footer__logo-link {
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
}

.footer__logo {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer__content-bottom {
  padding: 0;
}

.footer__content-middle-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 3rem;
}

.footer__content-middle-main-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1.6rem;
}

@media screen and (min-width: 1100px) {
  .footer__column--localization + .footer__column--localization {
    margin-left: 3rem;
  }

  .footer__column--localization:last-child {
    margin-right: 0;
  }
}
.accordion:empty + .footer-block {
  margin-top: 0;
}

.footer .accordion {
  margin-top: 0;
}
.footer .accordion .footer-block__heading {
  margin-bottom: 0;
}

@media screen and (min-width: 1100px) {
  .footer-block:nth-last-child(2).footer-block--menu:not(.footer-block--subscribe) {
    margin-right: auto;
  }
}
.footer .footer-newsletter__button.button {
  padding: 0 3.3rem;
}
.footer .newsletter__form {
  margin-top: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .footer .newsletter__form {
    margin-top: 0;
    width: 36rem;
  }
}
@media screen and (min-width: 1540px) {
  .footer .newsletter__form {
    width: 40rem;
  }
}
.footer .newsletter__form .rte {
  color: rgba(var(--color-foreground), 0.6);
}
.footer .newsletter__form .rte a {
  color: rgb(var(--color-link), 1);
  transition: color var(--duration-default);
}
.footer .newsletter__form .rte a:hover {
  color: rgba(var(--color-foreground), 0.8);
}
.footer .newsletter__form .field {
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-background-input));
}
.footer .newsletter__form .field:hover:not(:focus) {
  border-color: rgb(var(--color-border-input-hover));
  background-color: rgb(var(--color-background-input-hover));
}
.footer .newsletter__form .newsletter-form__inner {
  margin-bottom: 2.4rem;
}
.footer .newsletter__form .newsletter__title {
  margin-bottom: 0.8rem;
}
.footer .newsletter__form .newsletter__text {
  margin: 0 0 2rem;
  color: rgb(var(--color-foreground-title));
}
@media screen and (min-width: 1100px) {
  .footer .newsletter__form .newsletter__text {
    margin: 0 0 3.2rem;
  }
}
.footer .newsletter__form .newsletter__text p {
  color: inherit;
}
.footer .newsletter__form .newsletter__text a {
  transition: all var(--duration-default) ease;
  color: rgb(var(--color-foreground-secondary));
  text-decoration-line: none;
}
.footer .newsletter__form .newsletter__text a:hover:not(:focus) {
  opacity: 0.6;
}
.footer .newsletter__form .newsletter__subscribe-text {
  opacity: 0.7;
  font-size: 1.2rem;
}
.footer .newsletter__form .newsletter__subscribe-text a {
  text-underline-offset: 0.2rem;
}
.footer .newsletter__form .newsletter-form__field-wrapper {
  position: relative;
}
.footer .accordion:not(.footer-block--logo + .accordion):not(.store-info__wrapper + .accordion) {
  border-top: none;
}
.footer .accordion:first-child {
  margin-top: 2.4rem;
}

@media screen and (min-width: 1100px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}
.footer-block__heading {
  margin: 0 0 1.6rem;
  color: rgb(var(--color-foreground));
}

.store-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
@media screen and (min-width: 1100px) {
  .store-info__wrapper {
    gap: 2.4rem;
  }
}
.store-info__wrapper .store-info__heading {
  margin: 0 0 0.8rem;
}

.footer-block:empty,
.footer__list-social:empty,
.footer__localization:empty,
.footer__list-social .list-social__item--placeholder:not(:only-child) {
  display: none;
}

@media screen and (min-width: 1100px) {
  .footer__content-middle-container {
    flex-direction: row;
  }
}
.footer__localization {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.footer__localization .disclosure__item {
  position: relative;
  width: max-content;
}
.footer__localization .disclosure__item:before {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  height: 0.1rem;
  left: 1.6rem;
  background: currentColor;
  width: 0;
  transition: all var(--duration-default) linear;
}
.footer__localization .disclosure__item:hover:before, .footer__localization .disclosure__item:focus:before, .footer__localization .disclosure__item:focus-within:before {
  width: calc(100% - 3.2rem);
}
.footer__localization .disclosure__list {
  border: 1px solid rgb(var(--color-border)) !important;
}

footer .accordion {
  display: block;
}
@media screen and (min-width: 1100px) {
  footer .accordion {
    display: none;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer details[open] summary ~ * {
  animation: appear-down var(--duration-default) ease;
}

.footer-block__details-content {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media screen and (min-width: 1100px) {
  .footer-block__details-content {
    margin-bottom: 0;
    gap: 1.2rem;
  }
  .footer-block__details-content > p, .footer-block__details-content > li {
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  .accordion:first-child + .footer-block:last-child li,
.footer-block:only-child li {
    display: inline;
  }
}
.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgba(var(--color-foreground-title), 1);
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}